<% include ../admin-app-header.ejs %>
<body class="page-member">
	<div id="wrap">
		<!-- S: Container -->
		<div id="container">
			<div class="container">
				<div id="content">
				
				<div class="admin-member">
					<div class="page-logo"><span class="sr-only">3K 대학교 블록체인 기반의 인터넷증명발급센터</span></div>
					<h4 class="tit-line"><span>ADMIN - LOGIN</span></h4>
					
						<form role="form" action="" id="login_form" method="post">
							<div class="form-group">
				                 <input class="form-control" id="exampleInputEmail1" name="user_id" type="text" aria-describedby="emailHelp" placeholder="IDENTITY">
							</div>
							 <div class="form-group">
				                 <input class="form-control" id="exampleInputPassword1" name="password" type="password" placeholder="PASSWORD
				                 ">
							</div>
							<input type="submit" class="btn btn-lg btn-success btn-block" value="LOGIN">
						</form>
					<p class="login-txt">Register an Account</p>
				</div>
  
<% include ../admin-footer.ejs %>
