<% include ./admin-app-header.ejs %>

<body>
<div id="wrap">
	<!-- S: Header -->
	<header id="header">
		<div class="container">
			<button type="button" class="btn menu-btn"></button>
			<h1 class="logo">
				<a href="/admin/products/productslist"><span class="sr-only">3K대학교</span></a>
			</h1>
		</div>
	</header>
	<!-- E: Header -->
	<!-- S: Container -->
	<div id="container">
		<div class="container">	
			<div class="menu-list">
				<div class="user-logout">
					<div class="user-name"><i class="icon icon-person2"></i>관리자</div>					
					<a class="btn logout-btn" data-toggle="modal" data-target="#exampleModal">로그아웃</a>
				</div>			
				<div class="lnb">				
					<ul>
						<li><a href="/admin/products/productslist"><i class="icon icon-products"></i>접수목록</a></li>
						<li><a href="/admin/adminstudentlist"><i class="icon icon-student"></i>학생관리</a></li>
					</ul>
				</div>
			</div>
			<div id="content">