<% include ./admin-app-header.ejs %>

<body>
<div id="wrap">
	<!-- S: Header -->
	<header id="header">
		<div class="container">
			<button type="button" class="btn menu-btn"></button>
			<h1 class="logo">
				<a href="/admin/products/productslist"><span class="sr-only">3K대학교</span></a>
			</h1>
			<div class="gnb">
				<div class="gnb-header">
					<button class="btn gnb-close"><span class="sr-only">닫기</span></button>
					<h1 class="gnb-logo">
						<a href="/home"><span class="sr-only">3K대학교</span></a>
					</h1>
				</div>
				<ul>
					<li><span><i class="icon icon-person"></i>관리자</span></li>
					<li class="gnb-logout"><a data-toggle="modal" data-target="#exampleModal">로그아웃</a></li>
					<li><a href="/admin/products/productslist">접수목록</a></li>
					<li><a href="/admin/adminstudentlist">학생관리</a></li>
				</ul>
				<div class="gnb-footer">
					<address>서울특별시 송파구 송파대로  201 송파테라타워2 A동 712호<br>
					Tel : 070 . 7525 . 0785 | Fax : 02 . 6902 . 0665 | E-mail : support@3kbicas.net</address>
					<div class="copyright">Copyright ⓒ 2018 3KBICAS, Inc.  All Rights Reserved</div>
				</div>
			</div>
		</div>
	</header>
	<!-- E: Header -->
	<!-- S: Container -->
	<div id="container">
		<div class="container">
			<div id="content">