<% include ./main-header.ejs %>

<div class="main">
	<div class="container">
		<div class="certificate">
			<div class="certificate-txt">
				<span>발급받으실 증명서를 선택해 주세요</span>
			</div>
			<!-- S: row -->
			<div class="row">
				<div class="col-lg-4">
					<div class="certificate-box-wrap">
						<div class="certificate-box graduation-box">
							<i class="icon icon-graduation"></i>
							<h3 class="cb-tit">졸업증명서</h3>
							<a class="btn cb-btn" onclick="window.open('accounts/apply/graduate','팝업창', 'height=700, width=500; return false;')">발급받기 <i class="icon icon-arrow-w"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="certificate-box-wrap">
						<div class="certificate-box enrollment-box">
							<i class="icon icon-enrollment"></i>
							<h3 class="cb-tit">재학증명서</h3>
							<a class="btn cb-btn" onclick="window.open('accounts/apply/attend','팝업창', 'height=700, width=500; return false;')">발급받기 <i class="icon icon-arrow-w"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="certificate-box-wrap">
						<div class="certificate-box expulsion-box">
							<i class="icon icon-expulsion"></i>
							<h3 class="cb-tit">성적증명서</h3>
							<a class="btn cb-btn" onclick="window.open('accounts/apply/score','팝업창', 'height=700, width=500; return false;')">발급받기 <i class="icon icon-arrow-w"></i></a>
						</div>
					</div>
				</div>
		
			</div>
			<!-- E: row -->
		</div>
	</div>
</div>

<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.1/imagesloaded.pkgd.min.js"></script>
<script type="text/javascript">
	var $masonry_container = $('#masonry_container');
	$masonry_container.imagesLoaded(function() {
		$masonry_container.masonry({
			itemSelector : '.masonry-grid',
			columnWidth : 270
		});
	});
</script>

<% include ./footer.ejs %>
