body.page-main #container{
	background-image: url("/images/main/main-bg-lg.jpg");
}

/* table */
.table-style tr th,
.table-style tr td{
	font-size:14px;
	padding: 10px 5px;
}

/* form */
.form-group{
	margin-bottom: 7px;
}
.input-group{
	margin-bottom: 7px;
}
.form-group label,
.form-control-label{
	font-size: 14px;
    margin-bottom: 3px;
}
.form-control{
    font-size: 15px;
}

/* btn */
.btn-md{
	font-size:14px;
}
.btn-lg{
	font-size:16px;
}
.btn-link-arrow{
	font-size:13px;
    padding: 0 12px 0 0;
	background-image:url("/images/common/btn-link-arrow@x2.png") !important;
}
@media screen and (-webkit-min-device-pixel-ratio:1.5){
.btn-link-arrow{
	background-size:6px 8px;
	background-image:url("/images/common/btn-link-arrow@x2.png") !important;
}
}

/* title */
.tit-line{
    font-size: 15px;
	margin: 15px 0;
}
.tit-line span{
    padding: 3px 15px;
}

.title{
	font-size: 17px;
    margin-bottom: 10px;
}

/* app-form */
.app-form-box{
	padding:40px;
}
.app-form-header {
    padding: 15px 0 40px;
}
.app-form-footer{
	padding:45px 0 50px;
}
.app-form-txt{
	font-size: 22px;
}
.app-form-txt2{
    font-size: 20px;
}
.app-form-box .btn-wrap{
	width:435px;
	margin:auto;
}
.app-form-box .btn-wrap .btn,
.app-form-box .btn-wrap .button {
    margin-left: 5px;
    margin-bottom: 5px;
}
.app-form-sign-wrap {
    margin: 60px 0 30px;
}

/* popup-box */
.popup-box-header{
	padding: 25px 20px;
}
.popup-box-body{
	padding:40px;
}
.popup-box .btn-wrap{
	margin-top:40px;
}
.popup-box .btn-link-arrow{
	font-size:15px;
    padding: 0 12px 0 0;
	background-image:url("/images/common/btn-link-arrow@x2.png") !important;
}
@media screen and (-webkit-min-device-pixel-ratio:1.5){
.popup-box .btn-link-arrow{
	background-size:6px 8px;
	background-image:url("/images/common/btn-link-arrow@x2.png") !important;
}
}
.popup-box .table-style tr th,
.popup-box .table-style tr td{
	font-size:16px;
}
.popup-box .table-style tr th{
	padding: 13px 7px;
}
.popup-box .table-style tr td{
	padding: 25px 7px;
}

/* login */
.login-txt {
    font-size: 14px;
    margin-top: 10px;
}