@font-face {
	font-family: NotoSansWeb;
	font-style: normal;
	font-weight: 200;
	src: url(../fonts/notosans/NotoSans-Light.eot);
	src: url(../fonts/notosans/NotoSans-Light.eot?#iefix) format('embedded-opentype'),  url(../fonts/notosans/NotoSans-Light.woff) format('woff'),  url(../fonts/notosans/NotoSans-Light.ttf) format('truetype');
}
@font-face {
	font-family: NotoSansWeb;
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/notosans/NotoSans-Regular.eot);
	src: url(../fonts/notosans/NotoSans-Regular.eot?#iefix) format('embedded-opentype'),  url(../fonts/notosans/NotoSans-Regular.woff) format('woff'),  url(../fonts/notosans/NotoSans-Regular.ttf) format('truetype');
}
html, body {
	height: 100%;
}
body {
	font-family: NotoSansWeb, "Nanum Gothic", NanumGothic, 나눔고딕, "Malgun Gothic", MalgunGothic, 맑은고딕, Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	text-align: left;
	margin: 0px;
}
a {
	color: black;
}
a:hover {
	color: black;
}
button{
	border:0;
	outline:none;
	box-shadow:none !important;
}
dl, ol, ul {
    margin:0;
	padding:0;
}
li {
    list-style: none;
}

/* point */
.point-orange{
	color:#ed6313 !important;
}

#wrap {
	position: relative;
	min-width: 320px;
	height: 100%;
}

/* header */
#header {
    position: relative;
    z-index: 1500;
	display: block;
    height: 57px;
    margin-bottom: -57px;
}
#header .container{
	height:100%;
}
.logo{
	display: block;
    margin: 0 auto;
    width: 126px;
    height: 100%;
}
body.page-main .logo{
    width: 128px;
}
.logo a{
	display:block;
	width:100%;
	height:100%;
	background-repeat:no-repeat;
	background-position:50% 50%;
	background-image:url("/images/layout/logo.png");
}
body.page-main .logo a{
	background-image:url("/images/layout/logo-w.png");
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5){
.logo a{
	background-size:126px 17px;
	background-image:url("/images/layout/logo@x2.png");
}
body.page-main .logo a{
	background-size:128px 19px;
	background-image:url("/images/layout/logo-w@x2.png");
}
}
/* gnb */
.gnb {
	display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #033c79;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
	overflow-y: auto;
}
@media screen and (min-width: 375px) {
.gnb{
	width: 90%;
}
}
.gnb ul{
	min-height: 100%;
    margin: -57px 0 -151px;
    padding: 77px 20px 151px;
	font-size: 0;
    text-align: center;
}
.gnb ul li{
	margin-top:10px;
}
.gnb-login{
	margin-top:120px !important;
}
.gnb-logout{
	margin-top:70px !important;
}
.gnb ul li a{
	min-width: 150px;
    display: inline-block;
    font-size: 15px;
	text-align:center;
    color: #2c547f;
    padding: 15px 20px;
    background-color: #e6ecf3;
    border-radius: 100px;
}
.gnb ul li:nth-child(even) a{
	background-color:#a2b8cf;
}
.gnb .icon{
	margin-right: 7px;
    margin-bottom: -2px;
}
.menu-btn{
	position: absolute;
    top: 20px;
    left: 20px;
    width: 24px;
    height: 17px;
	background-color: transparent;
	background-repeat:no-repeat;
	background-position:50% 50%;
	background-image:url("/images/layout/menu-btn.png") !important;
}
body.page-main .menu-btn{
	background-image:url("/images/layout/menu-btn-w.png") !important;
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5){
.menu-btn{
	background-size:24px 17px;
	background-image:url("/images/layout/menu-btn@x2.png") !important;
}
body.page-main .menu-btn{
	background-image:url("/images/layout/menu-btn-w@x2.png") !important;
}
}
.gnb-header{
	display: block;
    position: relative;
    width: 100%;
    height: 57px;
	border-bottom: 1px solid #06274b;
}
.gnb-close{
	display:inline-block;
	width:25px;
	height:25px;
	position:absolute;
	top:17px;
	left:17px;
	background-color: transparent;
	background-repeat:no-repeat;
	background-position:50% 50%;
	background-image:url("/images/layout/gnb-close.png") !important;
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5){
.gnb-close{
	background-size:17px 17px;
	background-image:url("/images/layout/gnb-close@x2.png") !important;
}
}
.gnb-logo{
	display: block;
    margin: 0 auto;
    width: 130px;
    height: 100%;
}
.gnb-logo a{
	display:inline-block;
	width:100%;
	height:100%;
	background-repeat:no-repeat;
	background-position:50% 50%;
	background-image:url("/images/layout/gnb-logo.png");
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5){
.gnb-logo a{
	background-size:130px 21px;
	background-image:url("/images/layout/gnb-logo@x2.png");
}
}
.gnb-footer{
	padding: 40px 30px 30px 30px;	
	background-repeat:no-repeat;
	background-position:30px 0%;
	background-image:url("/images/layout/footer-logo.png");
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5){
.gnb-footer{
	background-size:86px 24px;
	background-image:url("/images/layout/footer-logo@x2.png");
}
}
.gnb address{
	font-size: 11px;
    letter-spacing: -0.5px;
    color: #7491af;
    margin-bottom: 7px;
}
.gnb .copyright{
	font-size: 11px;
    letter-spacing: -0.5px;
    color: #7491af;
}
/* footer */
#footer {
	display:none;	
    position: relative;
    z-index: 1000;
}

/* container */
#container {
	position: relative;
	min-height: 100%;
	overflow: hidden;
}
body.page-main #container {
	background-repeat:no-repeat;
	background-position:50% 0;
	background-size:cover;
	background-image:url("/images/main/main-bg.jpg");
}
.container {
	position: relative;
	padding: 0px 20px;
	width: 100%;
	max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.container:after{
	content:'';
	display:block;
	clear:both;
}

.h6 {
	color: green;
}
.rightDiv {
	width: 260px;
}
.scale {
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transition: all 0.3s ease-in-out; /* 부드러운 모션을 위해 추가*/
}
.scale:hover {
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
}
.imgeffect {
	width: 250px;
	height: 300px;
	overflow: hidden
} /* 부모를 벗어나지 않고 내부 이미지만 확대 */
.masonry-grid img {
	max-width: 260px;
}

/* icon */
.icon{
	display:inline-block;
	background-repeat:no-repeat;
	background-position:50% 50%;
}
.icon-login{
	width:12px;
	height:15px;
	background-image:url("/images/icon/icon-login.png");
}
.icon-person{
	width:14px;
	height:15px;
	background-image:url("/images/icon/icon-person.png");
}
.icon-view{
	width:13px;
	height:9px;
	background-image:url("/images/icon/icon-view.png");
}
.icon-wallet{
	width:12px;
	height:12px;
	background-image:url("/images/icon/icon-wallet.png");
}

.icon-graduation{
	width:51px;
	height:43px;
	background-image:url("/images/icon/icon-graduation.png");
}
.icon-enrollment{
	width:35px;
	height:43px;
	background-image:url("/images/icon/icon-enrollment.png");
}
.icon-expulsion{
	width:41px;
	height:45px;
	background-image:url("/images/icon/icon-expulsion.png");
}

.icon-arrow-w{
	width:11px;
	height:10px;
	background-image:url("/images/icon/icon-arrow-w.png");
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5){
.icon-login{
	background-size:12px 15px;
	background-image:url("/images/icon/icon-login@x2.png");
}
.icon-person{
	background-size:14px 15px;
	background-image:url("/images/icon/icon-person@x2.png");
}
.icon-view{
	background-size:13px 9px;
	background-image:url("/images/icon/icon-view@x2.png");
}
.icon-wallet{
	background-size:12px 12px;
	background-image:url("/images/icon/icon-wallet@x2.png");
}

.icon-graduation{
	background-size:51px 43px;
	background-image:url("/images/icon/icon-graduation@x2.png");
}
.icon-enrollment{
	background-size:35px 43px;
	background-image:url("/images/icon/icon-enrollment@x2.png");
}
.icon-expulsion{
	background-size:41px 45px;
	background-image:url("/images/icon/icon-expulsion@x2.png");
}

.icon-arrow-w{
	background-size:11px 10px;
	background-image:url("/images/icon/icon-arrow-w@x2.png");
}
}

/* main */
.main{
	min-height:100%;
	padding-top: 57px;
}
.main .container{
	padding-top: 150px;
	background-repeat:no-repeat;
	background-position:50% 30px;
	background-image:url("/images/main/main-title.png");
}

/* certificate */
.certificate{
	
}
.certificate-txt{
	position: relative;
    font-size: 11px;
    height: 16px;
    color: #fff;
    text-shadow: 1px 1px 4px rgba(0, 19, 73, 0.3);
    margin-left: 180px;
}
.certificate-txt span{
	position: absolute;
    bottom: 0;
    left: -180px;
    text-shadow: 1px 1px 4px rgba(0, 19, 73, 0.8);
}
.certificate-txt:before{
	content: '';
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: #fff;
    position: absolute;
    bottom: 5px;
    right: 0;
    box-shadow: 1px 1px 4px rgba(0, 19, 73, 0.3);
}
.certificate-box-wrap{
	background-color: #f6f6f6;
    box-shadow: 1px 1px 4px rgba(0, 19, 73, 0.34);
    margin-top: 5px;
}
.certificate-box{
	position:relative;
	padding: 37px 115px 37px 80px;	
	background-repeat:no-repeat;
	background-position:100% 100%;
}
.certificate-box>.icon{
	position: absolute;
    top: 50%;
    left: 30px;
    transform: translate(0,-50%);
}
.certificate .row >div:nth-child(even) .certificate-box-wrap{
	background-color: #0f7fe7;
    background-image: -webkit-linear-gradient(top, #055bd5 0%, #1eb1ff 100%);
    background-image: -moz-linear-gradient(top, #055bd5 0%, #1eb1ff 100%);
    background-image: -ms-linear-gradient(top, #055bd5 0%, #1eb1ff 100%);
    background-image: -o-linear-gradient(top, #055bd5 0%, #1eb1ff 100%);
    background-image: linear-gradient(top, #055bd5 0%, #1eb1ff 100%);
}
.graduation-box{
	background-image:url("/images/main/graduation-bg.png");
}
.graduation-box .icon-graduation{
	left: 20px;
}
.enrollment-box{
	background-image:url("/images/main/enrollment-bg.png");
}
.expulsion-box{
	background-image:url("/images/main/expulsion-bg.png");
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5){
.graduation-box{
	background-size:101px 92px;
	background-image:url("/images/main/graduation-bg@x2.png");
}
.enrollment-box{
	background-size:89px 90px;
	background-image:url("/images/main/enrollment-bg@x2.png");
}
.expulsion-box{
	background-size:97px 83px;
	background-image:url("/images/main/expulsion-bg@x2.png");
}
}
.cb-tit{
	display: inline-block;
    font-size: 13px;
    font-weight: 600;
    color: #222;
	margin-bottom:0;
}
.cb-btn{
	display: inline-block;
    min-width: 88px;
	position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -13px;
    padding: 5px 15px;
    font-size: 10px;
	line-height: 1.2;
    color: #fff !important;
    border-radius: 100px;
    background-color: #357bdd;
    background-image: -webkit-linear-gradient(left, #357bdd 0%, #338bdd 100%);
    background-image: -moz-linear-gradient(left, #357bdd 0%, #338bdd 100%);
    background-image: -ms-linear-gradient(left, #357bdd 0%, #338bdd 100%);
    background-image: -o-linear-gradient(left, #357bdd 0%, #338bdd 100%);
    background-image: linear-gradient(left, #357bdd 0%, #338bdd 100%);
}
.cb-btn .icon{
	float: right;
    margin-left: 20px;
}
.certificate .row >div:nth-child(even) .cb-tit{
	color:#fff;
}
.certificate .row >div:nth-child(even) .cb-btn{
	color:#0d457e !important;
	background-image:none;
	background-color:#f3fdff;
}
.certificate .row >div:nth-child(even) .cb-btn .icon-arrow-w{
	width:11px;
	height:10px;
	background-image:url("/images/icon/icon-arrow-b.png");
}
@media screen and (-webkit-min-device-pixel-ratio:1.5){
.certificate .row >div:nth-child(even) .cb-btn .icon-arrow-w{
	background-size:11px 10px;
	background-image:url("/images/icon/icon-arrow-b@x2.png");
}
}