<% include ../member-header.ejs %>


<div class="member">
	<div class="page-logo"><span class="sr-only">3K 대학교 블록체인 기반의 인터넷증명발급센터</span></div>
	<h4 class="tit-line"><span>LOGIN</span></h4>
	
	<% if(typeof flashMessage !== 'undefined'){ %>
        <div class="alert alert-danger" role="alert"><%=flashMessage%></div>
    <% } %>
    <form role="form" action="" id="login_form" method="post">
         <fieldset>
             <div class="form-group">
                 <input class="form-control" placeholder="ID를 입력해주세요." name="user_id" type="text" autofocus="" required="">
             </div>
             <div class="form-group">
                 <input class="form-control" placeholder="PASSWORD를 입력해 주세요." name="password" type="password" value="" required="">
             </div>
             <input type="submit" class="btn btn-lg btn-success btn-block" value="LOGIN">
         </fieldset>
     </form>
     <div class="login-txt">
     	<p>아직 <span class="point-blue">3K 대학교에</span> 가입이 되지 않으셨나요?</p>
     	<a href="/accounts/join">회원가입 바로가기</a>
     </div>
</div>


<script type="text/javascript">
(function(){
    $(document).ready(function() {
        
        $('#login_form').submit(function(){
            var $usernameInput = $('#login_form input[name=user_id]');
            var $passwordInput = $('#login_form input[name=password]');

            if(!$usernameInput.val()){
                alert("아이디를 입력해주세요.");
                $usernameInput.focus();
                return false;
            }
            if(!$passwordInput.val()){
                alert("패스워드를 입력해주세요.");
                $passwordInput.focus();
                return false;
            }

            return true;
        });
    });
})();
</script>

<% include ../member-footer.ejs %>

